* {
margin: 0;
padding: 0;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}  

.nav-tabs {
    font-size: 16px;
    background-color: white;
}
.nav-tabs > a
{
    padding-top: 4px; 
    padding-bottom: 4px;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 32px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-top: 4px;
    padding-bottom: 4px;
}
.navbar .form-control {
    font-size: 14px;
}
.navbar .btn {
    font-size: 14px;
    border: 1px solid #ced4da;
    background-color: #fff;
}

.untangle-plots {
    display: flex;
    padding-top: 75px;
    /* width: 100vw;
    height: 100vh; */
}

.untangle-subplots {
    width: 30%;
    height: 100%;
}

#untangle-container {
    width: 70%;
}
#paracord-container {
    width: 100%;
    height: 30%;
}
#scattermat-container {
    width: 100%;
    height: 70%;
}
svg {
    border: 1px dashed;
}

div.tooltip {
    position: absolute;
    text-align: left;
    /* width: 400px; */
    /* height: 200px; */
    padding: 10px;
    font-size: 12px;
    color: #333;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #333;
    pointer-events: none;
    display: inline-block;
}
div.tooltip h3 {
    font-size: 16px;
}

div.utility {
    position: absolute;
    text-align: right;
    padding: 2px;
    padding-right: 10px;
    font-size: 14px;
    pointer-events: none;
}

#untangle-control-panel {
    position: fixed;
    top: 75px;
    width: 160px;
    height: 330px;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    padding: 10px;
    color: #ccc;
}
#untangle-control-panel hr {
    border-top: 2px solid #666;
    margin: 5px -10px;
}
#untangle-control-panel .btn-group {
    margin: 5px auto;
}
#untangle-control-panel .btn {
    font-size: 12px;
}

.git-source-btn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    left: 50px;
    bottom: 50px;
}

.git-source-btn__icon {
    width: 64px;
    height: 64px;
}