svg {
    border: 1px dashed;
}

.grid-axes-q,.grid-axes-r,.grid-axes-s {
    stroke: #888;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}
.grid-vertex {
    fill: white;
    stroke:#888;
    stroke-width: 1px;
}
.label {
    fill: #088;
    opacity: 0.5;
}
.face {
    fill: #088;
    opacity: 0.3;
}