svg {
    border: 1px dashed;
}
/*
.grid-axes-q,.grid-axes-r,.grid-axes-s {
    stroke: #ccc;
    stroke-width: 0.5px;
    shape-rendering: crispEdges;
}*/
.grid-vertex {
    fill: white;
    stroke:#ccc;
    stroke-width: 1px;
}
.label circle {
    fill: #088;
    opacity: 0.5;
}

.label text {
    fill: #333;
}

.hint {
    fill: #888;
    opacity: 0.5;
}

.face {
    stroke: #888;
    fill: none;
    display: none;
}

.ternary-grid {
    display: none;
}

.edge {
    opacity: 0.8;
}

.scatter-plot {
    display: none;
}
.scatter-plot circle {
    fill: #08519c;
    opacity: 0.3;
}